<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />

	<title>Lunachat</title>

	<link rel="stylesheet" href="/static/styles.css">
	<script src="/static/htmx.min.js"></script>
	<script src="/static/sse.js"></script>
	<script src="/static/oob-if-exists.js"></script>
</head>

<body>
	<h1>Lunachat</h1>

	<div id="header">
	<div><a href="/">Home</a></div>

	{% block login_nav %}
	<div>
	{% match logged_in %}
   	{% when LoggedIn::Yes { user } %}
       	<div>
            Logged in as: <a href="/user/{{ user.id }}" class="username">{{ user.username }}</a>
           	<a href="/logout">Logout</a>
        </div>
   	{% when LoggedIn::No { url, login_error } %}
        <form action="/login" method="post">
      		<input type="text" name="username" placeholder="Username" required />
      		<input type="password" name="password" placeholder="Password" required />
      		<input type="submit" value="Login" />
      		<input type="hidden" name="next" value="{{ url }}" />
            <a href="/login">Register</a>
        </form>
        {% if let Some(error) = login_error %}
            <div style="color: red">{{ error }}</div>
        {% endif %}
   	{% endmatch %}
	</div>
	{% endblock %}
	</div>

	<hr />

	{% block content %}{% endblock %}
</body>

</html>
