{% extends "base.html.jinja" %}
{% block content %}

{% if let Some(avatar) = user.avatar %}
<img src="{{ avatar }}" alt="{{ user.username }}'s Profile Picture" class="avatar" onerror="this.style.display='none'">
{% endif %}
<h1 class="username">{{ user.username }}</h1>

{% endblock %}
