.post,
.thread {
    border: black 1px solid;
}

.post-body {
    white-space: pre-wrap;
}

.post-metadata,
.thread-metadata {
    color: slategray;
}

.username,
.thread-name,
.post-date {
    color: black;
}

#header {
    display: flex;
    justify-content: space-between;
}
