<div id="post_{{ post.id }}" class="post" {% if sse %} hx-swap-oob="if-exists" {% endif %}>
	{% if let Some(avatar) = author.avatar %}
	<img src="{{ avatar }}" alt="{{ author.username }}'s Profile Picture" class="avatar" onerror="this.style.display='none'">
	{% endif %}
	<p class="post-metadata"><a href="/user/{{ author.id }}" class="username">{{ author.username }}</a> at <span class="post-date">{{ post.created_at }}</span></p>

	<p class="post-body">{{ post.body | safe }}</p>
</div>
