<div id="thread_{{ id }}" style="border: black 1px solid" {% if sse %} hx-swap-oob="if-exists" {% endif %}>
	<p><a href="/thread/{{ id }}">{{ title }}</a>
		by <a href="/user/{{ author.id }}">{{ author.username }}</a></p>
	<p class="thread-body">{{ body }}</p>
</div>
