<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />

	<title>Lunachat</title>

	<link rel="stylesheet" href="/static/styles.css">
	<script src="/static/htmx.min.js"></script>
	<script src="/static/sse.js"></script>
	<script src="/static/oob-if-exists.js"></script>
</head>

<body>
	<h1>Lunachat</h1>

	<p><a href="/">Home</a></p>

	{% block login_nav %}
	{% if let Some(logged_in_user) = logged_in_user %}
	<p>Logged in as: <a href="/user/{{ logged_in_user.key }}">{{ logged_in_user.username }}</a></p>
	<p><a href="/logout">Logout</a></p>
	{% else %}
	<p><a href="/login">Login</a></p>
	{% endif %}
	{% endblock %}

	<hr />

	{% block content %}{% endblock %}
</body>

</html>