{% extends "base_undefaulted.html.jinja" %}
{% block title %}Dragon & Fox Collective{% endblock %}
{% block desc %}An indie studio developing the Homestuck fangame SBEPIS{% endblock %}
{% block url %}/{% endblock %}
{% block thumb %}/static/banner.png{% endblock %}