{% extends "forum_base.html.jinja" %}
{% block url %}/forum{% endblock %}
{% block content %}

<div id="posts" hx-ext="sse,oob-if-exists" sse-connect="/sse/posts" sse-swap="message" hx-swap="beforeend">
	{{ posts|safe }}
</div>

{% if can_post %}
<form method="post" hx-boost="true" hx-swap="none show:none" hx-push-url="false"
	hx-on::after-request="if(event.detail.successful) this.reset()">
	<input type="text" name="body" placeholder="What's on your mind?" required />
	<input type="submit" value="Post" />
</form>
{% endif %}

{% endblock %}