{% extends "base.html.jinja" %}
{% block head %}
<link rel="stylesheet" href="/static/index.css">
{% endblock %}
{% block content %}

<article>
	<p>we make funny homestuck sbepis fangame !! <img src="/static/sbepis.gif" alt="SBEPIS logo" class="inline-image" />
	</p>

	<iframe width="560" height="315" src="https://www.youtube.com/embed/hAte-zC0hRk?si=TlJ38Q0mVr55hQ2T"
		title="YouTube video player" frameborder="0"
		allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
		referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
</article>

<footer>
	<h1>call us!!</h1>
	<ul>
		<li><a href="https://discord.gg/qHREQu7Zxm">Discord</a></li>
		<li><a href="https://www.youtube.com/@DragonFoxCollective">YouTube</a></li>
		<li><a href="https://ko-fi.com/dragonfoxcollective">Ko-Fi</a></li>
		<li><a href="https://github.com/Dragon-Fox-Collective/SBEPIS">GitHub</a></li>
		<li><a href="mailto:contact@dragon-fox.com">Email</a></li>
	</ul>
</footer>

{% endblock %}