<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Htmx App</title>
	<script src="/public/htmx.min.js"></script>
	<script src="/public/sse.js"></script>
	<link rel="stylesheet" href="/public/styles.css">
</head>

<body>
	<header>
		<div class="header-title">
			<div class="header-text">
				<p>Dragon & Fox <br> Collective</p>
			</div>
		</div>
	</header>

	<hr />

	<article id="posts" hx-ext="sse" sse-connect="/sse/posts" sse-swap="message" hx-swap="beforeend">
		{{ posts|safe }}
	</article>

	<form hx-post="/create-post" hx-target="#posts" hx-swap="beforeend"
		hx-on::after-request="if(event.detail.successful) this.reset()">
		<input type="text" name="author" placeholder="Your name" required>
		<input type="text" name="profile_picture" placeholder="Profile picture URL">
		<input type="text" name="body" placeholder="What's on your mind?" required>
		<button type="submit">Post</button>
	</form>
</body>

</html>