<div id="post_{{ key }}" class="post" {% if sse %} hx-swap-oob="if-exists" {% endif %}>
	<div class="post-profile">
		{% if let Some(avatar) = avatar %}
		<img src="{{ avatar }}" alt="{{ author }}'s Profile Picture" onerror="this.style.display='none'">
		{% endif %}
		<p>{{ author }}</p>
	</div>
	<article class="post-body">
		<p>{{ body|safe }}</p>
	</article>
</div>