<div id="post_{{ key }}" style="border: black 1px solid" {% if sse %} hx-swap-oob="if-exists" {% endif %}>
	{% if let Some(avatar) = author.avatar %}
	<img src="{{ avatar }}" alt="{{ author.username }}'s Profile Picture" onerror="this.style.display='none'">
	{% endif %}
	<p><a href="/user/{{ author.key }}">{{ author.username }}</a></p>

	<p>{{ body|safe }}</p>
</div>