<div id="thread_{{ key }}" style="border: black 1px solid" {% if sse %} hx-swap-oob="if-exists" {% endif %}>
	<p><a href="/thread/{{ key }}">{{ title }}</a>
		by <a href="/user/{{ author.key }}">{{ author.username }}</a></p>
	<p class="thread-body">{{ body }}</p>
</div>